.header {
    background-color: #ffffff;
}
.header__inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
.header__logo {
    color: #ebd059;
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}
.view__inner {
    width: 795px;
    margin: 0 auto;
    margin-top: 75px;
}
.list-product {
    color: #575757;
}
.list-product span {
    color: #10a8d6;
}
.product__wrap {
    display: flex;
    height: 310px;
    margin-bottom: 50px;
}
.product-file__select-button {
    background-color: #d1d1d1;
    margin-top: 15px;
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid #2e2e2e;
}
.product-img {
    width: 40vh;
    height: 275px;
}
.file-select__text {
    margin: 0;
    color: #575757;
    font-size: 15px;
}
.product-file__select-hidden {
    display: none;
    width: 40vh;
    height: 280px;
}
.product__detail {
    margin-left: 30px;
}
.product__text {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #575757;
}
.product-season .product__text {
    margin-bottom: 16px;
}
.product__input {
    width: 400px;
    font-size: 14px;
    padding: 11px 10px;
    color: #575757;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.product-price {
    margin-top: 30px;
}
.form__error {
    margin-top: 5px;
    color: #e20f0f;
    font-size: 14px;
}
.form__error.price {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #e20f0f;
    font-size: 14px;
}
.product-season {
    margin-top: 30px;
}
ul {
    display: flex;
    padding-left: 0;
}
li {
    list-style:none;
    margin-right: 50px;
}
label {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
    cursor: pointer;
}
.product-season__input {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    border: 1px solid #575757;
    border-radius: 50%;
    cursor: pointer;
}
.product-season__input:checked {
    background-color: #575757;
}
.product-season__input:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color: #575757;
}
.season-hidden__list {
    margin: 0;
}
.check-mark {
    margin: 0;
    margin-left: 5px;
    position: absolute;
    color: #f5f5f5;
    pointer-events: none;
}
.season-ward {
    display: inline-block;
    transform: translateY(-3px);
    color: #575757;
}
.explanation__heading-text {
    font-size: 18px;
    color: #575757;
}
.explanation-textarea {
    resize: none;
    width: 795px;
    height: 160px;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #575757;
    border: 2px solid #ececec;
    border-radius: 5px;
}
.button__wrap {
    margin-top: 25px;
    text-align: center;
}
.back__button {
    padding: 10px 80px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    background-color: #e2e2e2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: .2s;
    cursor: pointer;
}
.back__button:hover {
    background-color: #d3d3d3;
    transition: .2s;
}
.change-form {
    display: inline-block;
}
.change__button {
    padding: 10px 60px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    background-color: #f7cb3e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: .2s;
    cursor: pointer;
}
.change__button:hover {
    background-color: #e9bd2c;
    transition: .2s;
}
.delete__form {
    margin-right: 15px;
    display: flex;
    justify-content: end;
}
.delete__button {
    background-color: #f5f5f5;
    border: none;
    transform: translateY(-35px);
    cursor: pointer;
}
.trash__img {
    width: 25px;
    height: 25px;
}