.header {
    background-color: #ffffff;
}
.header__inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
.header__logo {
    color: #ebd059;
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}
.products__list {
    display: flex;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0 20px;
    align-items: center;
}
.products__heading {
    font-size: 35px;
    font-weight: 600;
}
.products__register {
    text-decoration: none;
    color: #141414;
    background-color: #fda643;
    text-shadow: 1px 1px 1px #8f8f8f;
    box-shadow: 0 5px 5px 0 #e2e2e2;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
}
.products__register:hover {
    background-color: #eb9b3f;
    transition: .3s;
}
.products__inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.products__function {
    width: 20%;
}
.cards {
    width: 80%;
}
.products__search--input {
    width: 220px;
    border: none;
    padding: 13px;
    border-radius: 20px;
    box-shadow: 0 0 2px #cccccc;
    margin-bottom: 20px;
}
.products__search--input::placeholder {
    opacity: .2;
}
.products__search--button {
    width: 220px;
    padding: 9px;
    border: none;
    color: #2b2b2b;
    text-shadow: 1px 1px 2px #8f8f8f;
    background-color: #ecc545;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #e2e2e2;
    cursor: pointer;
    transition: .3s;
}
.products__search--button:hover {
    background-color: #dbb740;
    transition: .3s;
}
.sort__view {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 17px;
}
.sort__function {
    position: relative;
}
.sort__function::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 40px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #a5a5a5;
    border-bottom: 0;
}
.products__sort-select {
    width: 220px;
    border: none;
    padding: 11px;
    padding-left: 9px;
    border-radius: 5px;
    box-shadow: 0 0 2px #cccccc;
    margin-bottom: 20px;
    appearance: none;
}
.inner__sort-view {
    display: flex;
    justify-content: start;
    border: 2px solid #ffe23f;
    margin-right: 120px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 100px;
}
.sort-text {
    margin: 8px 0;
    margin-left: 12px;
    font-size: 13px;
}
.sort-view-back {
    height: auto;
    width: 14px;
    padding: 0;
    margin-left: 10px;
    font-size: 14px;
    line-height: 10px;
    border: 1px solid #f7d43c;
    border-radius: 50%;
    color: #e7cd3a;
    cursor: pointer;
}
.border-line {
    width: 220px;
    border: 1px solid #eceaea;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    width: 35vh;
    margin-right: 13px;
    margin-bottom: 13px;
    box-shadow: 0 0 3px 3px #e7e7e7;
}
.product-card a {
    text-decoration: none;
    display: block;
    width: 35vh;
}
.product-card:nth-of-type(3n) {
    margin-right: 0;
}
.card__image {
    border-radius: 3px 3px 0 0;
    width: 35vh;
}
.kiwi-image {
    width: 35vh;
    height: 230px;
}
.card__text {
    display: flex;
    justify-content: space-between;
    width: 319px;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 0 0 3px 3px;
}
.product__text {
    margin: 0;
    margin-left: 15px;
    font-size: 19px;
    font-weight: 400;
    color: #3b3b3b;
}
.product__price {
    margin: 0;
    margin-right: 15px;
    font-size: 19px;
    font-weight: 400;
    color: #3b3b3b;
}

.paginate nav .pagination {
    display: flex;
    justify-content: center;
    margin-left: 240px;
}
.page-item {
    font-size: 20px;
    font-weight: 300;
    margin: 0 5px;
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;

}
.paginate nav .pagination li a {
    text-decoration: none;
    color: #000000;
}
.active {
    background-color: #e7cd3a;
    color: #ffffff;
}