.header {
    background-color: #ffffff;
}
.header__inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
.header__logo {
    color: #ebd059;
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}
.register__container {
    width: 750px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.register__header {
    font-size: 30px;
    font-weight: 500;
}

.register-form__container {
    margin-top: 30px;
}
.input-column {
    margin-bottom: 30px;
}
.wrap {
    display: flex;
    margin-bottom: 10px;
}
.product-header {
    margin-right: 10px;
    color: #575757;
    font-size: 17px;
}
.require {
    margin: 2px;
    padding: 3px 4px;
    background-color: #e22c2c;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    border-radius: 3px;
}
.form__error {
    margin: 5px;
    color: #e20f0f;
    font-size: 14px;
}
.form__input-text {
    padding: 12px;
    padding-right: 567px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.form__input-text::placeholder {
    color: #c4c4c4;
}
.product-image {
    max-width: 400px;
}
.product-file__select-button {
    width: 110px;
    margin-top: 10px;
    background-color: #e4e4e4;
    padding: 6px 8px;
    cursor: pointer;
    display: block;
    border: 1px solid #3f3f3f;
    border-radius: 2px;
}
.file-select__text {
    margin: 0;
    color: #575757;
    font-size: 13px;
}
.product-file__select-hidden {
    display: none;
}
ul {
    display: flex;
    padding-left: 0;
}
li {
    list-style: none;
    margin-right: 50px;
}
label {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
    cursor: pointer;
}
.product-season__input {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    border: 1px solid #575757;
    border-radius: 50%;
    cursor: pointer;
}
.product-season__input:checked {
    background-color: #575757;
}
.product-season__input:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color: #575757;
}
.season-hidden__list {
    margin: 0;
}
.check-mark {
    margin: 0;
    margin-left: 5px;
    position: absolute;
    color: #f5f5f5;
    pointer-events: none;
}
.season-ward {
    display: inline-block;
    transform: translateY(-3px);
    color: #575757;
}
.explanation-textarea {
    resize: none;
    width: 750px;
    height: 150px;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #575757;
    border: 2px solid #ececec;
    border-radius: 5px;
}
.explanation-textarea::placeholder {
    color: #c4c4c4;
}
.button__wrap {
    margin-top: 25px;
    text-align: center;
}
.back__button {
    padding: 10px 80px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    background-color: #e2e2e2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: .2s;
    cursor: pointer;
}
.back__button:hover {
    background-color: #d3d3d3;
    transition: .2s;
}
.change-form {
    display: inline-block;
}
.change__button {
    padding: 10px 60px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    background-color: #f7cb3e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: .2s;
    cursor: pointer;
}
.change__button:hover {
    background-color: #e9bd2c;
    transition: .2s;
}
